
# Object code
*.slo
*.lo
*.o

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files
*.swp
*.dblite
*.log
*.graph
*.strips

# Python bytecodes
*.pyc

# Temporary output files
*.out

# Binaries
*.bin

# Codeblocks
*.cbp

# Singularity images
*.img

# notebooks
notebooks/.ipynb_checkpoints/

# Pytest dirs
.pytest_cache

# Packaging files
.tox
*.egg-info/
dist/

# helper scripts
alltests.bat

# pytest internals
.cache/

# setup internals
build/
.idea/

# Code coverage reports
.coverage
coverage.xml

# mypy
.mypy_cache

# Documentation
docs/_build

.ipynb_checkpoints
.ipython

pip-wheel-metadata