name: Tests

on:
  # The master branch is protected against direct pushes.
  # Let's run the tests on all PRs and pushes
  pull_request:
    # See https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request
    types: [opened, reopened, synchronize]
  push:
    branches: [master]

env:
  DOWNWARD_BENCHMARKS: "/tmp/downward-benchmarks"
  FSBENCHMARKS: "/tmp/fs-benchmarks"

jobs:
  unit_tests:
    strategy:
      # Keep running all parameter combinations even if one fails
      fail-fast: false

      matrix:
        # Currently, we only test on ubuntu, would be good to extend to macos-latest, windows-latest,
        # but this requires a bit of extra work to get the dependencies installed there too
        os: [ubuntu-latest]

        # We run unit tests on all currently active Python releases, see https://www.python.org/downloads/.
        # GH-hosted versions for the Ubuntu image are listed here:
        #   https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
        python-version: [ '3.10','3.11','3.12','3.13','3.14' ]

    runs-on: ${{ matrix.os }}
    continue-on-error: false

    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        # Install all dependencies, then get some benchmarks that we'll use to run the tests.
        # Curl below is necessary to download the benchmarks
        run: |
          sudo apt-get install -y --no-install-recommends gringo curl
          python -m pip install --upgrade tox pip setuptools wheel
          gringo --version
          tox --version
          ./scripts/get-benchmarks

      - name: Run tests (with continue-on-error = ${{ matrix.experimental }})
        run: |
          tox -v -e pytest

  style-docs-antlr:
    strategy:
      # Keep running all parameter combinations even if one fails
      fail-fast: false

      # We run these tests only on the latest active Python releases, see https://www.python.org/downloads/.
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.14']
        toxenv: ['docs', 'antlrgrammars', 'pylint', 'flake8', 'mypy']

    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      # Gringo and pandoc required only for the documentation tox environment
      # Pandoc is installed as an APT package as recommended in the installation instructions.
      - name: Install Gringo
        if: matrix.toxenv == 'docs'
        run: sudo apt-get install -y --no-install-recommends gringo pandoc && gringo --version

      - name: Install tox and packaging dependencies
        run: |
          python -m pip install --upgrade tox pip setuptools wheel
          tox --version

      - name: Run tox environment ${{ matrix.toxenv }}
        run: tox -v -e ${{ matrix.toxenv }}
